*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    scroll-behavior: smooth;
}

:root{
   --color-1: rgb(10, 8, 8);
   --color-2: #18181a  
}
#body{
 
    background-image:url('images/bg-image-2.avif');
    
   
}

.portfolio-section{
    width: 86vmax;
    height: 86vh;
    display: flex;
    margin:26px auto;
    padding: 16px;
    color:white;
    gap:10px;
    flex-direction: column;
    position:relative;
     
    
}

.navbar{
    display: flex;
    font-size: x-large;
    gap:20% ;
    justify-content: center;
    align-items: center;
   
}
.nav-links{
  text-decoration:none;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.into-section{
    display:flex;
    width:40vw;
    align-items: center;
    flex-direction: column;

}
.intro-content{
    animation: transition 1s  ease-in-out;

}
#name{
    margin-top: 9vmax;
     font-size: 75px;
     background-image:url('/images/image-5.jpg');
     background-clip:text;
     -webkit-background-clip:text;
     color: transparent;
     background-size :cover;
   
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     opacity:1
    
}
.role{
    display: inline-block;
     font-size:26px;
     color:rgb(192, 159, 159);
     margin:6px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.cursor{
    animation: blink 1s infinite;
    color: rgb(108, 35, 9);
    font-weight: bold;
    font-size: 26px;
}
.brief-des{
     font-size:16px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
     margin:6px;
     width:40vw;
     font-weight: bold;
}
.button{
    width: 15vw;
    height: 9vh;
    padding: 3px;
    justify-content: flex-start;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10px;
    border-radius: 4px 3px;
    
}

.view-my-work{
   font-size: large;
   background: #242323;
   color:white;
   border:white 2px
}
  .view-my-work:hover {
    border: 2px rgb(123, 116, 116);
    box-shadow: 12px #e4dada;
    transform: scale(0.9);
    background-image: linear-gradient(to right , rgb(28,83,82) , rgb(118, 109, 137));
    transform: translateY(-3px);
}
.get-in-touch:hover{
    transform: translateY(-3px);
    
}
.get-in-touch{
   font-size: large;
   border:white 2px
}
.footer{
    display: flex;
    position:relative;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    gap:30px;
    justify-content:space-between ;
}
.footer-note{
    
    position: absolute;
    margin-top:6px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    bottom:0%
    
    
}
.social-links{
    
    position:absolute;   
    bottom:0%;
    right:0%;
   
}


@keyframes transition {
    0% {
        
        opacity:0.2

    } 
    100%{
         
       opacity:1
    }
}

@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
        }
        100%{
            opacity:1
        }
}
